h1{
    font-family: inherit;
    font-weight: 600;
    font-size: 36px;
}
.contact-head{
    font-family: 'Oleo Script', cursive;
    color: #fcc500;
    font-size: 45px;
}
.form-group{
    margin-bottom: 15px;
    margin-top: 10px;
}
/* .form-line{
    border: 1px solid #B29999;
} */
label{
    float: left;
}
.submit{
    float: right;
    background-color: transparent;
}